# Dependencies
node_modules/

assets/
# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# Build
dist/
build/
